@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
  background-color: #15202b;
}
/* #15202b */
/* e6e7ee */
background-image {
  background-image: url('https://images.unsplash.com/photo-1578836537282-3171d77f8632?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-repeat: no-repat;
  background-size: cover;
  background-blend-mode: multiply;
}
.full-height-no-navbar {
  height: calc(100vh - 64px);
  width: 100%;
}
/* [1] The container */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom .gallery-item {
  border: 2px solid rgba(229, 231, 235);
  transition: transform 0.5s, filter 1.5s ease-in-out;
  transform-origin: center center;
  filter: brightness(75%);
}
.img-hover-zoom:hover .gallery-item {
  transform: scale(1.05);
  filter: brightness(100%);
}

.dark-background {
  background-color: #212529;
}
